# Environment variables
.env
.env.*
**/.env
**/.env.*
!.env.example
!**/.env.example

# Documentation
/docs
**/docs/
/browser-use/docs/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.venv
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Browser-use specific
**/agent_history.gif
agent_history.gif